<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spearmint.admin.mapper.MenuMapper">

    <select id="listMenusByMenuIds" resultType="com.spearmint.admin.domain.MenuDO">
        SELECT
          menu_id,
          parent_id,
          menu_name,
          menu_code,
          menu_location,
          url,
          perms,
          icon,
          level,
          type
        FROM
          admin_menu
        where
          menu_id in
        <foreach collection="menuIds" item="menuId" index="index" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </select>

</mapper>
